* {
	margin: 0;
	padding: 0;
}

html, .wrapper {
	background-color: #3668FF;
}

input {
	width: 230px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #B3B3B3;
}

#content input[type=submit] {
	width: 230px;
	margin-top: 20px;
	border-radius: 3px;
	border: 1px solid #3B85FF;
	background-color: #639EFF;
	color: #fff;
}

#header-toolbar {
	height: 25px;
	background-color: #0946EB;
}

#content {
	text-align: center;
	display: block;
	height: 100%;
	width: 100%;
}

.centered-container {
	/*display: inline-block;*/
	text-align: center;
	border: 1px solid #B3B3B3;
	border-radius: 3px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background-color: #fff;
}