// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container, input {
	width: 200px;
	height: 30px;
}

.login-container, input[type=submit] {
	width: 204px;
	margin-left: -5px;
	margin-top: 10px;

	/* TODO: Marius, kannst du das verallgemeinern, dass es auch im IE funktioniert? */
	/*-webkit-border-radius: 3px;*/
	border-radius: 3px;
}